body {
    background-color: #f1ebd2; }

img { max-width: 100%; border: solid #f1ebd2;}

.beginning {
  text-align: center;
  font-size: 1.5em;
}

a { color: #746b68; text-decoration: none; }
a:hover { color: #3c3407; }
h1 a { color: inherit; }

.container {
    background-color: white;
    padding: 0 5%;
    padding-top: 70px; }

@media (min-width: 550px) {
    .inborder {
        position: absolute;
        width: 20px; height: 100%;
    }

    .inborder.left {
        left: 10px; top: 0;
        margin: 0 auto;
        border-left: solid #f1ebd2 10px;
    }
    .inborder.right {
        top: 0; right: 10px;
        margin: 0 auto;
        border-right: solid #f1ebd2 10px;
    }
}
header {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: solid 2px grey;
}
header ul {
    list-style: none;
    width:510px
    padding: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 2.0rem;
    color: #746b68
}
header ul li {
    display: inline;
    margin: 0;
    padding: 0 1.2em;
    cursor: pointer;
}

header ul li:hover {
    color: #3c3407;
}

footer {
  border-top: solid 1px grey;
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8em;
  font-style: italic;
}

.story-title {
  text-align: center;
  font-weight: 500;
}
.story-date {
	text-align: center;
	font-size: 1.3em;
	margin-top: -1em;
  font-weight: 500;
}

.topnav { margin-bottom: 1em; }
.bottomnav { margin-top: 3em; }

.comment {
	/*border: double black;*/
	padding: 0.5em 1em;
	margin: 1em 1em;
	font-family: Garamond, serif;
}

.comment p { margin: 0.5em; text-indent: 0; }
.comment .date { text-align: right; font-style: italic; }

article {
  margin: 0 auto;
  max-width: 90%;
}
